.row{
    padding-top: 70px;
    text-align: center;
    font-size: 40px;
    line-height: 135%;
    font-weight: 300;
    color: #263238;
    span{
        font-size: 60px;
    }
}
.textWithButtons{
    padding-top: 40px;
    button{
        font-weight: 400;
        color: #FFA500;
    }
}